<div class="container">

<div class="form-group">
    <h1>ADD EMPLOYEE</h1>
    <form method="post" action="/emp/addEmp">

<label>Name</label>
<input type="text" class="form-control" placeholder="Enter your Name" name="name">
<label>Email</label>
<input type="email" class="form-control" placeholder="Enter your Email" name="email">
<label>Password</label>
<input type="password" class="form-control" placeholder="Enter your Password" name="pass">
<label>City</label>
<input type="text" class="form-control" placeholder="Enter your City" name="city">
<label>Phone</label>
<input type="text" class="form-control" placeholder="Enter your Phone Number" name="phone">
<input type="submit" class="btn btn-primary">

</form>
</div>
</div>